
# BEGIN EnvatoBackup
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=da205d39f149b30918895257b4544c3e
RewriteRule (.*) - [F]
</IfModule>

# END EnvatoBackup